<table class="table table-hover">
  <!-- classified entries -->
  <% @_categories.each do |c| %>
  <% if c.feeds.count > 0 %>
  <thead>
    <tr>
      <td colspan="6"><h4><%= c.name %></h4></td>
    </tr>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Feed url</th>
    <th>Cached entries</th>
    <th>Last modified</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% c.feeds.each do |feed| %>
    <tr>
      <td><%= link_to feed.title, feed %></td>
      <td><%= link_to feed.url, feed.url %></td>
      <td><%= feed.feed_url %></td>
      <td><%= feed.entries.count.to_s %></td>
      <td><%= feed.last_modified.strftime("%d/%m/%Y") %></td>
      <td>
	<div class="btn-group">
	  <%= link_to 'Show', feed, class: "btn btn-mini" %>
	  <%= link_to 'Edit', edit_feed_path(feed), class: "btn btn-mini" %>
	  <%= link_to 'Destroy', feed, method: :delete, class: "btn btn-mini", data: { confirm: 'Are you sure?' } %>
	</div>
      </td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
  <% end %>
  <!-- unclassified entries -->
  <thead>
    <tr>
      <td colspan="6"><i><h4>(Unclassified entries)</h4></i></td>
    </tr>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Feed url</th>
      <th>Cached entries</th>
      <th>Last modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @_feeds.each do |feed| %>
    <% if feed.category_id.nil? %>
    <tr>
      <td><%= link_to feed.title, feed %></td>
      <td><%= link_to feed.url, feed.url %></td>
      <td><%= feed.feed_url %></td>
      <td><%= feed.entries.count.to_s %></td>
      <td><%= feed.last_modified.strftime("%d/%m/%Y") %></td>
      <td>
	<div class="btn-group">
	  <%= link_to 'Show', feed, class: "btn btn-mini" %>
	  <%= link_to 'Edit', edit_feed_path(feed), class: "btn btn-mini" %>
	  <%= link_to 'Destroy', feed, method: :delete, class: "btn btn-mini", data: { confirm: 'Are you sure?' } %>
	</div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<hr />

<h3>Add a new feed</h3>

<% unless notice.nil? %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> <%= notice %>
</div>
<% end %>

<%= render 'form' %>
