<p id="notice"><%= notice %></p>

<center><h2><%= link_to @feed.title, @feed.url %></h2></center>
<center>
<div>
<hr />
  <p>
    <b>Cached entries:</b>
    <%= @feed.entries.count.to_s %>
  </p>

    <%= search_form_for @search do |f| %>
    <div class="input-append">
      <%= f.text_field :content_cont, class: "input-xxlarge", placeholder: "search this feed's entries" %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
    <%= paginate @entries %>
<hr />
</div>
</center>
<% @entries.each do |e| %>
<div style="margin: 0px; background-color: #eee; border-top: 1px solid #ddd; padding: 2px; padding-left: 4px; padding-right: 4px; border-radius: 3px; font-family: courier">
  <% unless e.author.nil? %><span><b>Author:</b> <%= e.author %></span> | <% end %>
  <span><b>Published:</b> <%= e.published.strftime("%d/%m/%Y") %></span>
  <span class="pull-right">
    <% if e.unread == true %>
    <%= link_to "Mark as read", mark_read_entry_path(e.id), :remote => true %>
    <% end %>
  </span>
</div>
<div>
  <h4><%= link_to e.title, e.url %></h4>
  <p>
    <% if e.summary.nil? == false %>
    <%=raw e.summary %>
    <% else %>
    <%=raw e.content[0..500] %>
    <%= " [...]" if e.content.size > 500 %>
    <% end %>
  </p>
</div>
<hr />
<% end %>

<center>
  <%= paginate @entries %>
</center>
