<p id="notice"><%= notice %></p>

<!-- header -->
<center><h2><%= link_to @feed.title, @feed.url %></h2></center>
<center>
  <div>
    <hr />
    <p>
      <b>Cached entries:</b>
      <%= @feed.entries.count.to_s %>
    </p>

    <%= search_form_for @search do |f| %>
    <div class="input-append">
      <%= f.text_field :content_cont, class: "input-xxlarge", placeholder: "search this feed's entries" %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
    <%= paginate @entries %>
    <hr />
  </div>
</center>

<% if @feed.unread > 0 %>
<p style="text-align: right">
  <%= link_to "Mark all as read", mark_read_feed_path(@feed.id), class: "btn" %>
</p>
<% end %>

<% anchor_id = 0 %>
<!-- Entries display -->
<% @entries.each do |e| %>
<% anchor_id += 1 %>
<div id="anchor_<%= anchor_id.to_s %>" class="entry">
  <div class="entry_header">
    <% unless e.author.nil? %><span><b>Author:</b> <%= e.author %></span> | <% end %>
    <span><b>Published:</b> <%= e.published.strftime("%d/%m/%Y") %></span>
    <span class="pull-right">
      <% if anchor_id < @entries.count %>
	 <a href="#anchor_<%= (anchor_id + 1).to_s %>">Next entry</a>
	 <% end %>
	 <% if e.unread == true %>
	 <button id="<%= "entry_#{e.id.to_s}_mark_read" %>"
		 onclick="mark_read(<%= e.id.to_s %>, <%= e.feed.id.to_s %>);"
		 class="btn btn-link btn-small"
		 style="padding: 0px">
	   Mark as read
	 </button>
	 <% end %>
    </span>
  </div>
  <div class="entry_body">
    <h4><%= link_to e.title, e.url %></h4>
    <p>
      <%=raw e.content %>
    </p>
  </div>
</div>
<hr />
<% end %>

<center>
  <%= paginate @entries %>
</center>
