<p id="notice"><%= notice %></p>

<h2><%= @category.name %></h2>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Feed url</th>
      <th>Cached entries</th>
      <th>Last modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @category.feeds.each do |feed| %>
    <tr>
      <% display_title = feed.title[0..30] %>
      <% display_title += "..." if feed.title.size > 30 %>
      <% display_feed_url = feed.feed_url[0..30] %>
      <% display_feed_url += "..." if feed.feed_url.size > 30 %>
      <td><%= link_to display_title, feed %></td>
      <td><p class="text-warning"><%= display_feed_url %></p></td>
      <td><%= feed.entries.count.to_s %></td>
      <td><%= feed.last_modified.strftime("%d/%m/%Y %H:%M") %></td>
      <td>
	<div class="btn-group">
	  <%= link_to 'Show', feed, class: "btn btn-mini" %>
	  <%= link_to 'Edit', edit_feed_path(feed), class: "btn btn-mini" %>
	  <%= link_to 'Destroy', feed, method: :delete, class: "btn btn-mini", data: { confirm: 'Are you sure?' } %>
	</div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
