<h2>Feeds</h2>
<ul class="nav nav-list" style="font-family: courier: font-size: 12px">
  <% @_categories.each do |c| %>
  <li class="nav-header"><%= link_to c.name, c %></li>
  <% c.feeds.each do |f| %>
  <li>
    <span>
      <% title = f.title[0..30] %>
      <% title += "..." if f.title.size > 30 %>
      <%= link_to title, f %>
      <% if f.entries.count > 0 %>
      &nbsp;
      <div class="pull-right">
	<span class="label"><%= f.entries.count.to_s %></span>
      </div>
      <% end %>
    </span>
  </li>
  <% end %>
  <% end %>
  <li class="nav-header"><i>(Non classés)</i></li>
  <% @_feeds.each do |f| %>
  <% if f.category_id.nil? %>
  <li>
    <% title = f.title[0..20] %>
    <% title += "..." if f.title.size > 20 %>
    <%= link_to title, f %>
    <span class="badge"><%= f.entries.count.to_s %></span>
  </li>
  <% end %>
  <% end %>
</ul>
