<h2>Feeds</h2>
<ul class="nav nav-list" style="font-family: courier: font-size: 12px">
  <% @sidebar_categories.each do |c| %>
  <li class="nav-header"><a href="<%= category_path(c) %>"><i class="icon-share-alt"></i> <%= c.name %></a></li>
  <% c.feeds.each do |f| %>
  <li>
    <a href="<%= feed_path(f) %>">
      <span>
	<% title = f.title[0..30] %>
	<% title += "..." if f.title.size > 30 %>
	<% url = f.url or f.feed_url %>
	<% url = f.feed_url if url.nil? %>
	<% if url.nil? == false and url.size > 10 %>
	<% favicon = "" %>
	<% parts = url.split("/") %>
	<% favicon += parts[0] + "//" %>
	<% favicon += parts[2].split(".")[-2..-1].join(".") + "/favicon.ico" %>
	<img src="<%= favicon %>" height="16" width="16" />
	<% else %>
	<i class="icon-minus"></i>
	<% end %>
	<%= title %>
      </span>
      <% if f.unread > 0 %>
      <div class="pull-right">
	<span class="label label-info"><%= f.unread.to_s %></span>
      </div>
      <% end %>
    </a>
  </li>
  <% end %>
  <% end %>
  <li class="nav-header"><i>(Non classés)</i></li>
  <% @sidebar_feeds.each do |f| %>
  <% if f.category_id.nil? %>
  <li>
    <% title = f.title[0..20] %>
    <% title += "..." if f.title.size > 20 %>
    <%= link_to title, f %>
    <% if f.unread > 0 %>
    <div class="pull-right">
      <span class="label label-info"><%= f.unread.to_s %></span>
    </div>
    <% end %>
  </li>
  <% end %>
  <% end %>
</ul>
