<% feeds.each do |f| %>
<li>
  <a href="<%= feed_path(f) %>">
    <span>
      <% title_maxsize = 30 %>
      <% title = f.title[0..title_maxsize] %>
      <% title += "..." if f.title.size > title_maxsize %>
      <% url = f.url or f.feed_url %>
      <% url = f.feed_url if url.nil? %>

      <% favicon = "" %>
      <% if url.nil? == false and url.size > 10 %>
      <% parts = url.split("/") %>
      <% favicon += parts[0] + "//" %>
      <% favicon += parts[2].split(".")[-2..-1].join(".") + "/favicon.ico" %>
      <% end %>
      <img src="<%= favicon %>" height="16" width="16" class="favicon" />

      <% if f.unread > 0 %>
      <%= title %>
      <% else %>
      <%= title %>
      <% end %>
    </span>
    <% if f.unread > 0 %>
    <div class="pull-right">
      <span class="label label-info" id="<%= "sidebar_#{f.id.to_s}_unread" %>"><%= f.unread.to_s %></span>
    </div>
    <% end %>
  </a>
</li>
<% end %>
