<!DOCTYPE html>
<html>
<head>
  <title>SakiMonkey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" style="border-right: 1px dashed #eee">
	<%= render partial: "layouts/sidebar" %>
      </div>
      <div class="span9" style="padding: 3px;">
	<%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
