<!DOCTYPE html>
<html>
<head>
  <title>SakiMonkey<%= " (#{@stats[:nbr_unread].to_s})" if @stats[:nbr_unread] > 0 %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 sidebar_container">
	<%= render partial: "layouts/sidebar" %>
      </div>
      <div class="span9" class="entries_container">
	<%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
